.already-voted {
  text-align: center;
  padding: 64px 16px;

  .icon { font-size: 64px; width: 64px; height: 64px; color: rgba(0, 0, 0, 0.3); }
  h2 { margin-top: 16px; }
  p { color: rgba(0, 0, 0, 0.6); }
}
